body {
  font-size: 18px ;
  font-family: Arial, Helvetica, sans-serif;
  background-image:;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  width: 375px;
  margin: auto;
}

